In [10]:
import pandas as pd

### Importing the raw data

In [11]:
df = pd.read_csv('/Users/saikarthiknaladala/Downloads/Principles_of_Data_Science/Frailty/data_raw/Frailty.csv')
df

   Index Height Weight  Age Grip Strength Frailty
0      0  65.8    112   30            30       N
1      1  71.5    136   19            31       N
2      2  69.4    153   45            29       N
3      3  68.2    142   22            28       Y
4      4  67.8    144   29            24       Y
5      5  68.7    123   50            26       N
6      6  69.8    141   51            22       Y
7      7  70.1    136   23            20       Y
8      8  67.9    112   17            19       N
9      9  66.8    120   39            31       N

### removing Index column

In [12]:
df.drop('Index',axis=1,inplace=True)

In [13]:
df.head()

  Height Weight  Age Grip Strength Frailty
0  65.8    112   30            30       N
1  71.5    136   19            31       N
2  69.4    153   45            29       N
3  68.2    142   22            28       Y
4  67.8    144   29            24       Y

### checks for null values

In [14]:
df.isnull().sum()

Height           0
Weight           0
Age              0
Grip Strength    0
Frailty          0
dtype: int64

#### we are storing the cleaned data to data_raw folder

In [15]:
df.to_csv('/Users/saikarthiknaladala/Downloads/Principles_of_Data_Science/Frailty/clean_data/Frailty.csv')